{% extends 'base.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'horoscope/css/index.css' %}">
{% endblock %}

{% block title %} Menu {% endblock %}

{% block content %}
    <h1> Horoscope </h1>
    {% include 'includes/navbar.html' only %}
    <ol>
    {% for zodiac in zodiacs %}
        <li><a href="{% url 'horoscope-name' sign_zodiac=zodiac %}"> {{ zodiac|title }} </a></li>
    {% endfor %}
    </ol>

    <ul>
    {% for element in elements %}
        <li><a href="{% url 'type-name' sign_type=element %}"> {{ element|title }} </a></li>
    {% endfor %}
    </ul>

    <ul>
    {% for rost in roster %}
        <li><a href="{% url 'horoscope-name' sign_zodiac=rost %}"> {{ rost|title }} </a></li>
    {% endfor %}
    </ul>
{% endblock %}
