{% extends 'base.html' %}

{% load custom_filter %}
{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'horoscope/css/index.css' %}">
{% endblock %}

{% block title %} Меню {% endblock %}

{% block content %}
    <h1> Гороскоп </h1>
    <!-- путь от папки templates в приложении horoscope -->
    {% include 'includes/navbar.html' only %}
    <!--only не даст отобразить значение переменных из navbar.html -->
    <ol>
    {% for zodiac, description_zodiac in zodiac_dict.items %}
        <li><a href="{% url 'horoscope-name' sign_zodiac=zodiac %}"> {{ description_zodiac|split|first }} </a></li>
    {% endfor %}
    </ol>

    <ul>
    {% for element_eng, element_ru in elements.items %}
        <li><a href="{% url 'type-name' sign_type=element_eng %}"> {{ element_ru }} </a></li>
    {% endfor %}
    </ul>

    <ul>
    {% for sign_eng, sign_ru in accordance.items %}
        <li><a href="{% url 'horoscope-name' sign_zodiac=sign_eng %}"> {{ sign_ru }} </a></li>
    {% endfor %}
    </ul>
{% endblock %}